colorlog==6.9.0
homeassistant==2025.7.2
home-assistant-frontend==20250702.3
pip==25.1.1
ruff==0.12.4
pytest-homeassistant-custom-component==0.13.262
paho-mqtt==2.1.0
aiohttp_cors==0.8.1
pre-commit==4.2.0
mypy==1.17.0
pylint==3.3.7
pytest>=8.4
voluptuous==0.15.2
pytest-cov==6.2.1
