colorlog==6.9.0
homeassistant==2024.12.1
home-assistant-frontend==20241127.6
pip==24.3.1
ruff==0.8.2
pytest-homeassistant-custom-component==0.13.191
paho-mqtt==1.6.1
aiohttp_cors==0.7.0
pre-commit==4.2.0
mypy==1.13.0
pylint==3.3.2
pytest>=8.3
voluptuous==0.15.2
pytest-cov==6.0.0
