name: Publish

on:
  pull_request:
  release:
    types: [published]
  push:
    branches: [main]

jobs:
  release_zip_file:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Get version
        id: version
        uses: home-assistant/actions/helpers/version@master

      - name: "Set version number"
        run: echo {{steps.version.outputs.version}}
