name: "Validate Changes"
on: [ push, pull_request, workflow_dispatch ]

jobs:
  ha_validate:
    runs-on: "ubuntu-latest"
    name: HA validation
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v6"

      - name: Setup Python
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.13"

      - name: HACS validation
        uses: hacs/action@main
        with:
          CATEGORY: integration

      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@master

  tests:
    runs-on: "ubuntu-latest"
    name: tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v6"
      - name: Setup Python
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.13"
      - name: Install requirements
        run: python3 -m pip install -r requirements.txt
      - name: Run tests
        run: pytest --cov custom_components.phoniebox -o console_output_style=count -p no:sugar -qq -n auto
